# Archivos de sistema operativo
.DS_Store

# Archivos multimedia y documentos grandes
*.zip
*.ppsx
*.pdf
*.mp4
*.png
*.txt

# Carpetas de prueba o ejercicios adicionales
tp5/test_tp5/

# Puedes agregar aquí cualquier otra carpeta o archivo que no quieras subir
